// mixins
@mixin btn($color, $hover-bg, $hover-color) {
    display: inline-block;
    color: $color;
    border: 1px solid $color;
    padding: 10px;
    text-decoration: none;
    transition: all .25s ease-in;

    &:hover,
    &:active {
        background: $hover-bg;
        background: linear-gradient(to right, $hover-bg, darken($hover-bg,15%));
        color: $hover-color;
        transition: all .25s ease-in;
    }
}

// classes
.full-width {
    display: block;
    width: 100%;
    height: auto;
}
.hide-for-large {
    @media all and (min-width: $sm) {
        display: none;
    }
}
.small {
    font-size: 0.7rem;
}
.img-border {
    display: inline-block;
    box-shadow: -3px 3px 0 $accent-3, -4px 4px 0 rgba($accent-4, 1);
}
img {
    max-width: 100%;
    height: auto;
}

// wrapper
html,
body,
main.main {
    @media all and (min-width: $sm) {
        position: relative;
        height: 100%;
        min-height: 100%;
        z-index: 1;
    }
}

// background
main.main {    
    background: url('https://lh3.googleusercontent.com/WrMMVEBKBohs6qkCMtzOKXkUrtG2f_tSDrjnN054OCbFKNXM5eLScbYT0PFqDL1uPNIvbT1GFzPM-nR64_0J71J5GVHAZAGGm8jFAXSeoTICM9T_s41r7GlHVUVt9x1SO6cxx0rgK_VErsy_l-9pDLmgFCGacjD3VZeGTwNGRIFEYa8cFmM9PL8rom3Jq3qPj5Xnbi6J4ypjVC3yK9X8aHYreoIu0JpC2weslyaokSlLhC2MQHHsP_KfBtavazQ_5wiXSBbn8AZ9t7A0r_kqjkPJ6RGTO4aALCJRYu_kxMPKaxwz9fvkFAMopUvKIrpaVSNzjCKh_w7SN4sJLyCLNXi_dsDwQ7_f91_aFaME0oUsnscI5Ijyzi1AS256LvSsz1ydkCtNcE3G2Woq5q5Mw82YkHpjJRK1zBEBtpOF6yD75SmyeC3jjxZCObwCR0LUFFUx1mtAsxtiXAFNhmqSRYGTazE62M4kt8bETHFFtkxAeXYAcZFSoZkjnF5qTKalpWaTP-ctT1dJoZI3nREq0lQKz0_JHtrqCQ7vn5aAXkqfXAtycCYBXe95fW2lTtyDBXVAgznQgqapcRQQyZY4dHkyxMaL28PQ5aJ4q1dfjyDY-Mdv5RtgHv8LHgwqfbfPE5c1yi8_8li3pelZg2PzcQKXrqS6xzfPKV4=w1217-h811-no') center right no-repeat;
    background-size: cover;
    background-attachment: fixed;

    // no background image
    &.main--no-bg {
        background: none;
        height: auto;
        min-height: auto;
    }

    // intro text
    .content {
        color: $white;
        padding: $gutter;
        background: $primary;
        background: linear-gradient(to right, $primary, lighten($primary,20%));
        border-bottom: 10px solid $secondary;
        text-align: center;
        position: sticky;
        top: 0px;
        box-shadow: 2px 2px 2px rgba($black,0.5);

        // title
        h1 {
            text-shadow: -2px 2px 0 $primary, -4px 4px 0 rgba($black, .5);
        }
        // date
        h3 {
            font-weight: 300;
            text-shadow: -1px 1px 0 $primary, -2px 2px 0 rgba($black, .5);
        }

        // links
        nav {
            a {
                @include btn($white, $white, $primary);
                font-size: 2rem;
                margin: $gutter;
                box-shadow: -2px 2px 0 $primary, -4px 4px 0 rgba($black, .5);
            }
        }

    }
    
}

// info
#info {
    background: $accent-2;
    background: linear-gradient(to right, $accent-2, lighten($accent-3,30%));
    overflow: auto;

    h2,h3,h4 {
        text-transform: uppercase;
    }
    h2 {
        letter-spacing: .5rem;
        font-weight: 300;
        text-shadow: -1px 1px 0 $accent-3, -2px 2px 0 rgba($accent-4, 1);
        display: inline-block;
        position: relative;
        z-index: 1;

        &:after {
            content: "";
            display: block;
            position: absolute;
            height: 1px;
            width: 100%;
            top: 110%;
            background: $accent-4;
            background: linear-gradient(to right, rgba($accent-4, 0),$accent-4,rgba($accent-4,0));
            left: 0;
            z-index: 2;
        }
        &:before {
            content: "";
            display: block;
            height: 10px;
            width: 10px;
            background: $accent-4;
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            margin-top: -2px;
            border-radius: 10px;
            border: 2px solid $accent-3;
            z-index: 3;
        }
    }

    // btns
    a.btn {
        @include btn($accent-4, $accent-4, $accent-3);
        font-size: 2rem;
        margin: $gutter;
        box-shadow: -2px 2px 0 $accent-3, -3px 3px 0 rgba($accent-4, 1);
    }
}

// footer