// layout
* {
    box-sizing: border-box;
}
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$gutter: 15px;

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: $gutter;
    padding-right: $gutter;
    text-align: center;
}

// colors
$white: #fff;
$black: #000;
$primary: #5C6E6B;
$secondary: #8F8781;
$accent-1: #D4CFC5;
$accent-2: #C6BFB9;
$accent-3: #ECE3D9;
$accent-4: #444;

// fonts
$cursive: 'Satisfy', cursive;
$main: 'Raleway', sans-serif;

// links
a {
    color: $accent-4;
    text-decoration: none;
    padding-bottom: 3px;
    border-bottom: 1px dashed $accent-4;

    &:hover,
    &:active {
        color: $primary;
        border-bottom: 1px dashed $primary;
    }
}

// typography
p {
    font-size: 1.6rem;
    margin: 1.6rem 0;
    line-height: 2.6rem;
}
strong {
    font-weight: 300;
    text-transform: uppercase;
}

// headlines
h1,h2, h3,h4,h5,h6 {
    margin: 1.6rem 0;
    font-weight: 300;
}
h1 {
    font-size: 5rem;
    font-family: $cursive;
    font-weight: 100;
    line-height: 8rem;

    @media all and (min-width: $lg) {
        font-size: 7rem;
    }
}
h2 {
    font-size: 4rem;
    line-height: 5rem;
}
h3 {
    font-size: 2.5rem;
    line-height: 4rem;
    @media all and (min-width: $lg) {
        font-size: 3rem;
    }
}
h4 {
    font-size: 2.5rem; 
    line-height: 3rem;
}
h5 {
    font-size: 2rem; 
    line-height: 2.5rem;
}
h6 {
    font-size: 1.5rem; 
    line-height: 2rem;
}
